header {
  text-align: center;
  font-size: auto;
  top: 20px;
  left: 0;
  right: 0;
  z-index: 999;
}


body {
  background-image: url("./gambar1.jpg");
  background-size: cover;
  background-attachment: fixed;
  background-position: center;  
}


* {
  max-width: auto;
  padding-top: 20px;
  font-family: Verdana;
  color: beige;
  font-size: auto;
}

.h1 {
  background-color: rgba(55, 37, 95,0.90);
  font-weight: normal;
  padding-left: 15px;
  color:beige;
  text-align: center;
}

.h1_kecil{
  font-size: 15px;
  font-weight: normal;
  padding: 10px;
  color:beige;
  text-align: center;
  /* list-style-type: disc; */
  padding-top: 10px;
}

.h2{
  background-color: rgba(55, 37, 95,0.90);
  font-weight: normal;
  color:beige;
  text-align: left;
  list-style-type: circle;
  list-style-position: inside;
}

.h2_kecil{
  font-size: 12px;
  font-weight: normal;
  padding: 10px;
  color:beige;
  text-align: center;
  /* list-style-type: disc; */
  padding-top: 10px;
}