header {
  text-align: center;
  font-size: auto;
  top: 20px;
  left: 0;
  right: 0;
  z-index: 999;
}


body {
  /* membuat background gambar */
  background-image: url("./gambar1.jpg");
  background-size: cover;
  background-attachment: fixed;
  background-position: center;  
}


* {
  max-width: auto;
  min-width: auto;
  padding-top: 10px;
  padding-bottom: 10px;
  font-family: Verdana;
  color: beige;
  font-size: auto;
}

.h1 {
  background-color: rgba(55, 37, 95,0.90);
  /* membuat tulisan dan logo */
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 25px;
  padding: 10px;
  /*text formatting*/
  font-weight: normal;
  padding-left: 15px;
  color:beige;
  text-align: left;
}

.h1_kecil{
  font-size: 25px;
  font-weight: normal;
  color:beige;
  text-align: left;
}

.h2{
  background-color: rgba(55, 37, 95,0.90);
  font-weight: normal;
  color:beige;
  text-align: left;
  padding: 20px;
  /* tipe dari penulisan list */
  list-style-type: circle;
  list-style-position: inside;
}

.h2_kecil{
  font-size: 12px;
  font-weight: normal;
  color:beige;
  text-align: left;
}

.h2_p{
  font-size: 17px;
  font-weight: normal;
  padding: 10px;
  color:beige;
  text-align: justify;
  padding-top: 10px;
}